
%form#area
  %em Settings
  %ul
    %li
      %label{for: 'width'} Width
      %input{name: 'width', type: 'number', value: 8}
    %li
      %label{for: 'height'} Height
      %input{name: 'height', type: 'number', value: 8}
  %button#generate Generate

  %button#save Save

#result

#ready_title Ready Image
#save_image
